In [1]:
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
house_dataFrame = pd.read_csv('https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv')

In [4]:
house_dataFrame.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [5]:
house_dataFrame.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
house_dataFrame.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
longitude,17000.0,-119.562108,2.005166,-124.3500,-121.790000,-118.4900,-118.000,-114.3100
latitude,17000.0,35.625225,2.137340,32.5400,33.930000,34.2500,37.720,41.9500
housing_median_age,17000.0,28.589353,12.586937,1.0000,18.000000,29.0000,37.000,52.0000
total_rooms,17000.0,2643.664412,2179.947071,2.0000,1462.000000,2127.0000,3151.250,37937.0000
total_bedrooms,17000.0,539.410824,421.499452,1.0000,297.000000,434.0000,648.250,6445.0000
population,17000.0,1429.573941,1147.852959,3.0000,790.000000,1167.0000,1721.000,35682.0000
households,17000.0,501.221941,384.520841,1.0000,282.000000,409.0000,605.250,6082.0000
median_income,17000.0,3.883578,1.908157,0.4999,2.566375,3.5446,4.767,15.0001
median_house_value,17000.0,207300.912353,115983.764387,14999.0000,119400.000000,180400.0000,265000.000,500001.0000

In [7]:
x_data = house_dataFrame.drop(['median_house_value'],axis=1)

In [8]:
y_val = house_dataFrame['median_house_value']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
scaler = MinMaxScaler()

In [12]:
x_data = pd.DataFrame(data=scaler.fit_transform(x_data),
                      columns=x_data.columns,
                      index=x_data.index)

In [13]:
x_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,0.476882,0.327867,0.540968,0.069637,0.083552,0.039984,0.082260,0.233354
std,0.199718,0.227135,0.246803,0.057465,0.065410,0.032172,0.063233,0.131595
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.254980,0.147715,0.333333,0.038487,0.045934,0.022058,0.046210,0.142514
50%,0.583665,0.181722,0.549020,0.056017,0.067194,0.032624,0.067094,0.209976
75%,0.632470,0.550478,0.705882,0.083017,0.100442,0.048152,0.099367,0.294279
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_val, test_size=0.3, random_state=101)
#I usually prefer random_state as 101, anyone pick any number as you wish.

In [15]:
x_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype='object')

In [16]:
age = tf.feature_column.numeric_column('housing_median_age')
rooms = tf.feature_column.numeric_column('total_rooms')
bedrooms = tf.feature_column.numeric_column('total_bedrooms')
pop = tf.feature_column.numeric_column('population')
households = tf.feature_column.numeric_column('households')
income = tf.feature_column.numeric_column('median_income')
long = tf.feature_column.numeric_column('longitude')
latit = tf.feature_column.numeric_column('latitude')

In [17]:
feat_cols = [age,rooms,bedrooms,pop,households,income,long,latit]

In [18]:
feat_cols

[_NumericColumn(key='housing_median_age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='total_rooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='total_bedrooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='population', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='households', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='median_income', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='longitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='latitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [19]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,
                                                 y=y_train,
                                                 batch_size=10,
                                                 num_epochs=5000,
                                                 shuffle=True)

In [20]:
model = tf.estimator.DNNRegressor(hidden_units=[3,6,10],
                                  feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/x_/4p6qzwq12gggwpj74t_g5pth0000gn/T/tmpw3j7gdhw
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/x_/4p6qzwq12gggwpj74t_g5pth0000gn/T/tmpw3j7gdhw', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a366af0b8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [21]:
model.train(input_fn=input_func,steps=5000)

WARNING:tensorflow:From /Users/halilkacmaz/anaconda3/envs/tfdeeplearning/lib/python3.6/site-packages/tensorflow/python/estimator/inputs/queues/feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /Users/halilkacmaz/anaconda3/envs/tfdeeplearning/lib/python3.6/site-packages/tensorflow/python/estimator/inputs/queues/feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /Users/halilkacmaz/anaconda3/envs/tfdeeplearning/lib/python3.6/site-packages/tensorflow/python/training/monitored_session.py:804: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/x_/4p6qzwq12gggwpj74t_g5pth0000gn/T/tmpw3j7gdhw/model.ckpt.
INFO:tensorflow:loss = 481454900000.0, step = 1
INFO:tensorflow:global_step/sec: 371.058
INFO:tensorflow:loss = 323969650000.0, step = 101 (0.270 sec)
INFO:tensorflow:global_step/sec: 536.26
INFO:tensorflow:loss = 642541200000.0, step = 201 (0.187 sec)
INFO:tensorflow:global_step/sec: 528.597
INFO:tensorflow:loss = 326834780000.0, step = 301 (0.189 sec)
INFO:tensorflow:global_step/sec: 558.684
INFO:tensorflow:loss = 501715000000.0, step = 401 (0.179 sec)
INFO:tensorflow:global_step/sec: 585.95
INFO:tensorflow:loss = 252184690000.0, step = 501 (0.171 sec)
INFO:tensorflow:global_step/sec: 534.742
INFO:tensorflow:loss = 519303270000.0, step = 601 (0.187 sec)
INFO:tensorflow:global_step/sec: 519.867
INFO:tensorflow:loss = 682205100000.0, step = 701 (0.192 sec)
INFO:tensorflow:global_step/sec: 551.791
INFO:tensorflow:loss = 545012420000.0, step = 801 (0.181 sec)
INFO:tensorflow:global_step/sec: 562.423
INFO:tensorflow:loss = 372960660000.0, step = 901 (0.178 sec)
INFO:tensorflow:global_step/sec: 554.914
INFO:tensorflow:loss = 264215170000.0, step = 1001 (0.180 sec)
INFO:tensorflow:global_step/sec: 522.924
INFO:tensorflow:loss = 353662140000.0, step = 1101 (0.192 sec)
INFO:tensorflow:global_step/sec: 486.202
INFO:tensorflow:loss = 168099180000.0, step = 1201 (0.205 sec)
INFO:tensorflow:global_step/sec: 556.907
INFO:tensorflow:loss = 287764350000.0, step = 1301 (0.179 sec)
INFO:tensorflow:global_step/sec: 559.703
INFO:tensorflow:loss = 201112300000.0, step = 1401 (0.180 sec)
INFO:tensorflow:global_step/sec: 516.095
INFO:tensorflow:loss = 183846730000.0, step = 1501 (0.194 sec)
INFO:tensorflow:global_step/sec: 507.813
INFO:tensorflow:loss = 56029626000.0, step = 1601 (0.198 sec)
INFO:tensorflow:global_step/sec: 505.362
INFO:tensorflow:loss = 231781150000.0, step = 1701 (0.196 sec)
INFO:tensorflow:global_step/sec: 511.551
INFO:tensorflow:loss = 54374375000.0, step = 1801 (0.195 sec)
INFO:tensorflow:global_step/sec: 537.397
INFO:tensorflow:loss = 80395830000.0, step = 1901 (0.187 sec)
INFO:tensorflow:global_step/sec: 520.281
INFO:tensorflow:loss = 107747830000.0, step = 2001 (0.191 sec)
INFO:tensorflow:global_step/sec: 492.085
INFO:tensorflow:loss = 139681820000.0, step = 2101 (0.203 sec)
INFO:tensorflow:global_step/sec: 497.569
INFO:tensorflow:loss = 56004837000.0, step = 2201 (0.201 sec)
INFO:tensorflow:global_step/sec: 520.399
INFO:tensorflow:loss = 265763440000.0, step = 2301 (0.192 sec)
INFO:tensorflow:global_step/sec: 528.287
INFO:tensorflow:loss = 126417840000.0, step = 2401 (0.189 sec)
INFO:tensorflow:global_step/sec: 533.866
INFO:tensorflow:loss = 104012890000.0, step = 2501 (0.187 sec)
INFO:tensorflow:global_step/sec: 522.1
INFO:tensorflow:loss = 124093350000.0, step = 2601 (0.192 sec)
INFO:tensorflow:global_step/sec: 530.808
INFO:tensorflow:loss = 74989600000.0, step = 2701 (0.188 sec)
INFO:tensorflow:global_step/sec: 662.23
INFO:tensorflow:loss = 156350550000.0, step = 2801 (0.152 sec)
INFO:tensorflow:global_step/sec: 537.672
INFO:tensorflow:loss = 107226860000.0, step = 2901 (0.185 sec)
INFO:tensorflow:global_step/sec: 525.602
INFO:tensorflow:loss = 166106780000.0, step = 3001 (0.190 sec)
INFO:tensorflow:global_step/sec: 493.658
INFO:tensorflow:loss = 105407550000.0, step = 3101 (0.203 sec)
INFO:tensorflow:global_step/sec: 512.769
INFO:tensorflow:loss = 76972310000.0, step = 3201 (0.195 sec)
INFO:tensorflow:global_step/sec: 514.213
INFO:tensorflow:loss = 154539560000.0, step = 3301 (0.194 sec)
INFO:tensorflow:global_step/sec: 573.037
INFO:tensorflow:loss = 156202580000.0, step = 3401 (0.175 sec)
INFO:tensorflow:global_step/sec: 530.422
INFO:tensorflow:loss = 123597800000.0, step = 3501 (0.188 sec)
INFO:tensorflow:global_step/sec: 516.593
INFO:tensorflow:loss = 123121470000.0, step = 3601 (0.194 sec)
INFO:tensorflow:global_step/sec: 564.704
INFO:tensorflow:loss = 169036100000.0, step = 3701 (0.177 sec)
INFO:tensorflow:global_step/sec: 506.835
INFO:tensorflow:loss = 122121810000.0, step = 3801 (0.197 sec)
INFO:tensorflow:global_step/sec: 560.23
INFO:tensorflow:loss = 54855410000.0, step = 3901 (0.180 sec)
INFO:tensorflow:global_step/sec: 546.72
INFO:tensorflow:loss = 195552660000.0, step = 4001 (0.182 sec)
INFO:tensorflow:global_step/sec: 525.221
INFO:tensorflow:loss = 127442780000.0, step = 4101 (0.189 sec)
INFO:tensorflow:global_step/sec: 469.62
INFO:tensorflow:loss = 98405940000.0, step = 4201 (0.216 sec)
INFO:tensorflow:global_step/sec: 441.759
INFO:tensorflow:loss = 208035760000.0, step = 4301 (0.224 sec)
INFO:tensorflow:global_step/sec: 552.105
INFO:tensorflow:loss = 127687210000.0, step = 4401 (0.181 sec)
INFO:tensorflow:global_step/sec: 549.925
INFO:tensorflow:loss = 159805370000.0, step = 4501 (0.183 sec)
INFO:tensorflow:global_step/sec: 502.756
INFO:tensorflow:loss = 127024955000.0, step = 4601 (0.198 sec)
INFO:tensorflow:global_step/sec: 509.582
INFO:tensorflow:loss = 52657873000.0, step = 4701 (0.198 sec)
INFO:tensorflow:global_step/sec: 548.258
INFO:tensorflow:loss = 82770380000.0, step = 4801 (0.182 sec)
INFO:tensorflow:global_step/sec: 683.565
INFO:tensorflow:loss = 96078090000.0, step = 4901 (0.147 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/x_/4p6qzwq12gggwpj74t_g5pth0000gn/T/tmpw3j7gdhw/model.ckpt.
INFO:tensorflow:Loss for final step: 63199940000.0.

In [22]:
predict_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,
                                                         batch_size=10,
                                                         num_epochs=1,
                                                         shuffle=False)

In [23]:
pred_gen = model.predict(predict_input_func)